![title](Header__0005_5.png "Header")
___
# Chapter 5 - Outlier Analysis
## Segment 1 - Extreme value analysis using univariate methods

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from pylab import rcParams

In [3]:
%matplotlib inline
rcParams['figure.figsize'] = 5,4

In [4]:
df = pd.read_csv(
    filepath_or_buffer=r'C:\Users\ddzmi\Desktop\DataViz\Ex_Files_Python_Data_Science_EssT\Exercise Files\Ch05\05_01\iris.data.csv',
    header=None,
    sep=',')
df.columns=['Sepal Length','Sepal Width','Petal Length','Petal Width', 'Species']
X = df.iloc[:,0:4].values
y = df.iloc[:,4].values

df[:5]

   Sepal Length  Sepal Width  Petal Length  Petal Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### Identifying outliers from Tukey boxplots

In [12]:
df.boxplot(return_type='dict')
plt.plot()

[]

In [14]:
Sepal_Width = X[:,1]
iris_outliers = (Sepal_Width > 4)
df[iris_outliers]

    Sepal Length  Sepal Width  Petal Length  Petal Width Species
15           5.7          4.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa

In [8]:
Sepal_Width = X[:,1]
iris_outliers = (Sepal_Width < 2.05)
df[iris_outliers]

    Sepal Length  Sepal Width  Petal Length  Petal Width     Species
60           5.0          2.0           3.5          1.0  versicolor

### Applying Tukey outlier labeling

In [15]:
pd.options.display.float_format = '{:.1f}'.format
X_df = pd.DataFrame(X)
print X_df.describe()

SyntaxError: invalid syntax (<ipython-input-15-12fb0a2c1f68>, line 3)